__pycache__
.coverage
.DS_Store
.env
*.egg-info
*.lcov
dist
htmlcov
venv*
.idea
build/
dist/
*.pyc
.*cache
docs/libretro/
docs/api/**
!docs/api/index.rst

# Cython extensions
*.so
*.c

# RenderDoc Captures and Settings
*.cap
*.rdc