__pycache__
.coverage
.DS_Store
.env
*.egg-info
*.lcov
dist
htmlcov
venv*
.idea
build/
dist/
*.pyc
.*cache
*.log

# Cython extensions
*.so

# RenderDoc Captures and Settings
*.cap
*.rdc

# Local Settings
.claude/settings.local.json
.vscode